[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

trio = "*"
pyserial = "*"
logzero = "*"
attrs = "*"


[dev-packages]

pre-commit = "*"
pytest = "*"
hypothesis = "*"
pydoc-markdown = "*"
"flake8" = "*"
black = "*"
pytest-trio = "*"
